.navContainer{
  margin: 100px;
  padding: 20px;
  align-items: center;
  -webkit-box-shadow: -1px 2px 26px 0px rgba(0,0,0,0.76); 
  box-shadow: -1px 2px 26px 0px rgba(0,0,0,0.76);
  background: rgba(255, 255, 255, 0.46);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(12.8px);
  -webkit-backdrop-filter: blur(12.8px);
  border: 1px solid rgba(255, 255, 255, 0.38);

}

.bodyContainer{
  border-radius: 5px;
}

p{
  font-family: 'Montserrat', sans-serif;
}

h5{
  color: #fff;
  padding: 5px 5px;
}

.card-title{
  background: rgb(0,0,0);
  background: linear-gradient(74deg, rgba(0,0,0,1) 0%, rgba(125,125,143,1) 40%, rgba(221,232,235,1) 100%);
  border-radius: 2px;
}

.jumbotron h1{
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}

.jumbotron{
  margin: 10px;
  text-align: center;
  border-radius: 10px;
}

body{
  background-color: rgb(199, 197, 197);
}

.form-inline{
  justify-content: center;
  padding: 20px;
  margin: auto;
}

.form-control{
  font-size: 1.5rem;
  height: 65px;
  margin: 15px;
}

.btn-sm{
 margin-left: 10px;
 width: 140px;
 padding: 10px 10px !important;
}

.btn-lg{
  padding: 20px;
  margin: auto 15px;
}

/* the container for all articles  */
#articles-container {
    display: flex;
}

/* the div that wraps each article  */
#article-div {
  display: block;
  border: 1px solid black;
  border-radius: 5px;
  margin: 2rem 2rem;
}

#article-div p,
#article-div h5 {
  padding: 1rem;
  color: red;
}

/* remove the blue text from the articles */
#articles-container a {
  color: black;
  text-decoration: none;
}

/* the container for all books  */
#books-container {
  display: flex;
  margin: auto;
}

/* the div that wraps each books   */
#book-div {
  display: flex;
  border: 1px solid black;
  border-radius: 5px;
  margin: 2rem 2rem;
}

/* remove the blue text from the books*/
#book-div a {
  color: black;
  text-decoration: none;
}

#book-div p,
#book-div h4{
  padding: 1rem;
  color: rgb(10, 8, 8);
}

#book-div img{
  padding: 2rem;
}

.footer{
  color: rgb(10, 8, 8);
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  padding-bottom: 10px;
}

@media  (max-width: 1430px){

  #articles-container,
  #books-container{
    display: block;
    margin: 20px;
  }
}

@media  (max-width: 978px){

  .navContainer{
    margin: 50px;
  }
  
  .jumbotron h1{
    font-size: 2rem;
  }

  .lead p{
    font-size: 0.5rem;
  }
  
  .form-control{
    width: 400px;
    text-align: center;
  }

  .btn-sm{
    width: 140px;
    padding: 10px 10px !important;
    margin: 5px 33px;
   }

  .btn-lg{
    width: 400px;
    padding: auto;
    margin: 10px 15px;
  }
    
  #books-container{
    display: block;
 }

 #book-div {
  align-items: center;
  margin: 20px;
}

    
}
